apiVersion: apps/v1
kind: Deployment
metadata:
  
  
spec:
  replicas: 3
  selector:
    matchLabels:
      app: netflix
  
  template:
    metadata:
     
      labels:
        app: netflix
    spec:
      containers:
      - image: nginx
        name: nginx
        ports:
          - containerPort: 80